@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --body-collor: #598BED;
    --font-main: "Open Sans", "sans-serif";
    --box-collors: #F5F5F5;
    --collor-font: #C3C6C5;
    --collor-black: #0A0908;
}

body{
    background-color: var(--body-collor);
}

h1{
    font-family: var(--font-main);
    color: var(--collor-black);
}
p{
    font-family: var(--font-main);
}

spam{
    color: var(--body-collor);
}

.homePages{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    
    display: flex;
   
    background-color: var(--box-collors);

    align-items: center;

    flex-direction: column;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 1.25rem;
}

.button-form {
    margin-top: 2rem;
    width: 21.563rem;
    height: 3.75rem;

    border-radius: 0.625rem;
    border: none;

    background-color: var(--body-collor);

    font-weight: bold;
    font-family: var(--font-main);
    font-size: 1.5rem;
    color: var(--box-collors);
    opacity: 0.9;
}

.button-form:hover{
    opacity: 1;
}