.box.register{
    width: 40.625rem;
    height: 50rem;

    display: flex;
    flex-direction: column  ;
    /* justify-content: center; */
    align-items: center;
}

#form-register-group{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.form-input:nth-child(1){
    margin-bottom: 0rem;
}

.telefone::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.data{
    text-indent: 0.8rem;
    color: var(--collor-font);
}

.form-error{
    margin-top: 0rem;
    color: var(--collor-font);
}

.button-form.bnt-register{
    width: 9.688rem;
    height: 3.75rem;

    align-self: center;
}
