
.login{
    width: 40.625rem;
    height: 40.625rem;
}

.hand-craft-img{
    margin-left: 82%;
    margin-bottom: -0.4rem;
    width: 5.938rem;
    height: 5.938rem;
}

.header-form{
    /* position: absolute; */
    display: flex;
    margin: 0 auto;
    margin-top: 2.5rem;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 2.5rem;
}

.img-icone-user{
    width: 5.313rem;
    height: 4.375rem;
}

.header-form > img{
    margin-bottom: 0.813rem ;
}

#login-form-group{
    display: flex;
    width: 100%;
    height: 18.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}


.form-input{
    height: 5.625rem;
}

#input-1{
    margin-bottom: 1.563rem;
}


.form-field-input{
    border: 2px solid;
    border-color: var(--collor-font);
    border-radius: 0.375rem;
    color: var(--collor-black);

    width: 35.313rem;
    height: 4.375rem;

    font-family: var(--font-main);
    font-size: 1.5rem;

    text-indent: 1.25rem;
}

.form-field-input::placeholder {
    text-indent: 1.25rem;
    color: var(--collor-font);
}

.form-error{
    margin-top: 0.2rem;
    color: var(--collor-font);
}

.content-register{
    width: 100%;
    height: 3rem;

    padding-bottom: 1.25rem;
    padding-left: 2.188rem;
    padding-right: 2.188rem;

    cursor: pointer;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;



    font-family: var(--font-main);
    font-weight: bold;
    color: var(--collor-font);
}

.content-register > p:hover{
    transition: 0.3s;
    color:var(--collor-black);
}

.goRegister{
    cursor: pointer;
}