.button-form.extrato{
    cursor: pointer;
    background-color: red;

    width: 10rem;
}

#iframeContainer{
    width: 100%;
    height: 100%;
}

.pdf{
    width: 30rem;
    height: 36rem;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

iframe{
    width: 100%;
    height: 100%;

    border: none;
}